body{
    margin: 0;
    background-color: #0f0f0f;
}
.buscador{
    width: 38%;
    height: 35px;
    border-radius: 20px;
    border-color: #303030;
    border-style: solid;
    position: relative;
    left: 30%;
    top: 10px;

}
.paragraf_buscador{
    position: relative;
    top: -8px;
    margin-left: 2%;
    color: #565656;
}
.linia1{
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    left: 25px;
    top: -20px;
}
.linia2{
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    left: 25px;
    top: -15px;
}
.linia3{
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    left: 25px;
    top: -10px;
}
.logo{
    position: relative;
    top: -52px;
    left: 4%;
}
.lupa{
    position: relative;
    top: -103px;
    left: 68%;
}
.microfon{
    position: relative;
    top: -163px;
    left: 1125px;
}
